/target
completion_script/sugoroku-completion.*
sugoroku_examples/*.tex
sugoroku_examples/*.pdf
sugoroku_examples/*.log
sugoroku_examples/*.fls
sugoroku_examples/*.dvi
sugoroku_examples/*.aux
sugoroku_examples/*.fdb_latexmk
